<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="true" internalLogFile="..\..\logs\nlog.log" internalLogLevel="Error">
	<targets async="true">
		<target xsi:type="File"
		        name="logfile"
		        fileName="..\..\logs\EmailsFrameworkMsGraphV5.LATEST.log"
		        layout="${longdate} ${pad:padding=5:inner=${level}} ${logger} ${message} ${exception:format=tostring}"
		        archiveFileName="..\..\logs\EmailsFrameworkMsGraphV5.ARCHIVE.{#}.log"
		        archiveEvery="Day"
		        archiveNumbering="Date"
		        archiveDateFormat="yyyyMMdd"
		        maxArchiveFiles="14"
		        encoding="UTF-8"
		/>
		<target xsi:type="Console"
		        name="myConsole"
		        layout="${longdate} ${pad:padding=5:inner=${level}} ${message} ${exception:format=tostring}"
		        encoding="UTF-8"
		/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="myConsole" />
	</rules>
</nlog>